<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Payment Success</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-neutral-primary min-h-screen flex items-center justify-center px-5">

  <div class="bg-white rounded-3xl shadow-xl p-10 max-w-md w-full text-center">

    <!-- ICON -->
    <div class="w-24 h-24 bg-green-100 rounded-full mx-auto flex items-center justify-center">

      <span class="text-5xl">
        ✔
      </span>

    </div>

    <!-- TEXT -->
    <h1 class="text-3xl font-bold text-heading mt-8">
      Payment Success
    </h1>

    <p class="text-gray-500 mt-4">
      Thank you for shopping at Luxea
    </p>

    <!-- BUTTON -->
    <a
      href="../view/home.html"
      class="block bg-[#213C51] hover:bg-[#748DAE] transition text-white py-3 rounded-xl mt-8"
    >
      Back To Home
    </a>

  </div>

</body>
</html>